/*!Start Bootstrap - Thumbnail Gallery (http://startbootstrap.com/)* Copyright 2013-2016 Start Bootstrap* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)*/

body {padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */}
.thumb {margin-bottom: 30px;}
footer {margin: 20px 0;}

/*adding styles - Maria*/
.hidden{display: none !important}

.title{float:left;margin:0px !important; padding: 0px !important}
.portfolio-filter {margin: 10px 0 0 10px; padding: 0;text-align: left;float: right}
.portfolio-filter li {display: inline-block;list-style: none;margin: 0 0 15px;padding: 0;text-align: left}
.portfolio-filter li a {display: block;color: #222;font-size: 13px;font-weight: 400;letter-spacing: 1.5px; margin-left: 11px; margin-right: 11px;text-transform: uppercase;cursor: pointer}
.portfolio-filter li a.active {color: #17a697;}
.example-image{width: 400px;height: 200px !important}
.thumbnail {margin-bottom: 5px !important}
.lightbox .lb-image {max-width: 1280px !important;}
.navbar-header {margin-top: 18px !important}
/*adding styles - Maria*/